body{
background:#000ddd;
margin:1%;
border:1%;
padding:auto;
}
article{
background-color:#000000;
position:middle,center;
margin:1%;
border:1%;
padding:auto;
font:#FFFFFF,center,justify;
}
aside{
background-color:#FFFFFF;
display:inline;
position :middle,center;
margin:1%;
border:1%;
padding:50%;
font:#000000,center,justify;
}
div.nova{
display:inline-block;
position:relative,center;
margin:0%;
border:0%;
padding:50%;
font:#000000;
}
div.nova figure{
background-color:#DDDFFD;
display:vertical;
position:absolute;
font:#000000;
margin:1%;
border:1%;
padding:25%;
}
div.nova figure img{
background-color:#6495ED;
width:100px;
height:150px;
position:absolute;
display:vertical;
image-orientation:vertical;
}
div.nova figure img figcaption{
background-color:#F0FFFF;
display:inline;
width:100px;
height:20px;
font-size:14px;
font:#000000;
}
